body{
    margin: 0;
    padding: 0;
    background: #ecf0f1;
    font-family: 'Thasadith', sans-serif;}

/* titre league of stone */
#titre{
    color:  black;
    font-size: 350%;
    margin: 0;
}


/* login */
.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 10;
}

.box h1{
color: black;
text-transform: uppercase;
font-weight: 500;

}
.box input[type = "text"],.box input[type = "password"]{
border:0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #3498db;
padding: 14px 10px;
width: 200px;
outline: none;
color: black;
border-radius: 24px;
transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
width: 280px;
border-color:#1abc9c;
}
.box input[type = "submit"]{
border:0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #1abc9c;
padding: 14px 40px;
outline: none;
color: black;
border-radius: 24px;
transition: 0.25s;
cursor: pointer;
}
.box input[type = "submit"]:hover{
background: #1abc9c;
}

/* inscrirption */
/* #inscrire{
    color: aliceblue;
} */


/* bouton voir code */

.password + .unmask {
    position:absolute;
    right: 68px; top: 7px;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    background: #aaa;
    border-radius: 50%;
  }
  .password + .unmask:before {
    content: "";
    position:absolute;
    top:4px; left:4px;
    z-index:1;
    width: 17px;
    height: 17px;
    background: #e3e3e3;
    border-radius: 50%;
  }
  .password[type="text"] + .unmask:after {
    content: "";
    position:absolute;
    top:6px;
    left:6px;
    z-index:2;
    width: 13px;
    height: 13px;
    background: #aaa;
    border-radius: 50%;
  }